/*********************************************************
 * Block 2 - Standard
 *********************************************************/

.Block_Standard {
    background-color: [[BLOCK_COLOR]];
    color: [[TEXT_COLOR]];
    margin-right: 3px;
    margin-left: 3px;
}

.Block_Standard .Content {
    padding: 7px;
    font-family: [[FONT_FAMILY]];
    text-align: left;
    height: 1%;
}

.Block_Standard a {
    color: [[LINK_COLOR]];
}

.Block_Standard .BorderTL {
    background: url('./images/[[IMAGE_DIR]]/blockcorner_TL.gif') no-repeat;
    width: 6px;
    height: 6px;
}

.Block_Standard .Top {
    background: url('./images/[[IMAGE_DIR]]/block_top.gif') repeat-x;
    height: 6px;
 }

.Block_Standard .BorderTR {
    background: url('./images/[[IMAGE_DIR]]/blockcorner_TR.gif') no-repeat;
    width: 6px;
    height: 6px;
}


.Block_Standard .Right {
    background: url('./images/[[IMAGE_DIR]]/block_right.gif') repeat-y;
    width: 6px;

}

.Block_Standard .Left {
    background: url('./images/[[IMAGE_DIR]]/block_left.gif') repeat-y;
    width: 6px;
}


.Block_Standard .BorderBL {
    background: url('./images/[[IMAGE_DIR]]/blockcorner_BL.gif') no-repeat;
    width: 6px;
    height: 6px;
}

.Block_Standard .Bottom {
    background: url('./images/[[IMAGE_DIR]]/block_bottom.gif') repeat-x;
    height: 6px;
}

.Block_Standard .BorderBR {
    background: url('./images/[[IMAGE_DIR]]/blockcorner_BR.gif') no-repeat;
    width: 6px;
    height: 6px;
}
