/*********************************************************
 * Footer 1
 *********************************************************/

*.Footer {
    padding: 5px;
    margin: 0px;
    font-size: 75%;
    text-align: left;
    color: [[MENU_LINK_COLOR]];
}

*.Footer a {
    color: [[MENU_LINK_COLOR]];
}
