/*********************************************************
 * Header 1
 *********************************************************/

*.Header {
    padding: 5px;
    padding-left: 10px;
    margin: 0px;
    font-size: large;
    text-align: left;
    color: [[MENU_TEXT_COLOR]];
}

.Header a {
    color: [[MENU_LINK_COLOR]];
}