/*********************************************************
 * Heading 2 - Big
 *********************************************************/

.Heading_2 { 
    padding-left: 7px;  
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: left;
    font-size: 120%;
}

.Heading_2 a {
    color: [[MENU_LINK_COLOR]];
    text-decoration: none;
}
