/*********************************************************
 * Heading 4
 *********************************************************/

*.Heading_Sidebar {
	margin-top: 5px;
    padding: 1px;
    border: 0px;
}
*.Heading_Sidebar .Content {
    background-color: [[HEADER_BG_COLOR]];
    color: [[MENU_LINK_COLOR]];
    padding: 1px;
    padding-left: 5px;
    text-align: left;
    font-size: 100%;
    margin-top: -4px;
    margin-bottom: -4px;
}

.Heading_Sidebar a {
     color: [[MENU_LINK_COLOR]];
}
