/*********************************************************
 * Menu 1 selected content
 *********************************************************/

*.MenuItem_Link_Selected  {
    padding: 1px;
    border: 0px;
    margin-top: 5px;
}

*.MenuItem_Link_Selected .Content {
    background-color: [[HEADER_BG_COLOR]];
    text-align: left;
    color: [[MENU_LINK_COLOR]];
    padding: 1px;
    margin-top: -5px;
    margin-bottom: -5px;
}

*.MenuItem_Link_Selected a {
    color: [[MENU_LINK_COLOR]];
    font-size: [[MENU_FONT_SIZE]];
}

