/*********************************************************
 * Menu 1 selected content
 *********************************************************/

*.MenuItem_Link_Selected  {

}

*.MenuItem_Link_Selected .Content {
    

}

*.MenuItem_Link_Selected a {
    color: [[MENU_TEXT_COLOR]];
    display: block;
    font-size: [[MENU_FONT_SIZE]];
    text-decoration: none;

}

.MenuItem_Link_Selected a:hover {
    text-decoration: underline;
}


