/*********************************************************
 * MenuHeading 1
 *********************************************************/

.MenuItem_Heading {
    padding-left: 7px;
    margin-right: 2px;
    text-align: left;
    margin: 0px;
    color: [[MENU_TEXT_COLOR]];
}

.MenuItem_Heading a {
    color: [[MENU_LINK_COLOR]];

}