/*********************************************************
 * Menu 1 unselected content
 *********************************************************/

*.MenuItem_Link_Unselected {

}

*.MenuItem_Link_Unselected .Content {

}

*.MenuItem_Link_Unselected a {
    color: [[MENU_LINK_COLOR]];
    display: block;
    font-size: [[MENU_FONT_SIZE]];
    text-decoration: none;
}

.MenuItem_Link_Unselected a:hover {
    text-decoration: underline;
}

