/*********************************************************
 * Heading 2
 *********************************************************/

	.Heading_2 {

		border: 0px;
	}
	.Heading_2 .Content {
		background-color: #F5F5F5;
		border-top: 1px solid #979797;
		border-bottom: 1px solid #979797;
		padding: 8px;
		text-align: left;
		color: #000000;
		font-size: 125%;
		padding-left: 10px;
		margin: 0px;
	}