/*********************************************************
 * Heading 1
 *********************************************************/

	.Heading_1 {

		border: 0px;
	}
	.Heading_1 .Content {
		background-color: #d3d3d3;
		border-top: 1px solid #979797;
		border-bottom: 1px solid #979797;
		padding: 10px;
		text-align: left;
		color: #000;
		font-size: 150%;
		margin: 0px;
	}