/*********************************************************
 * Heading 2
 *********************************************************/

	.Heading_2 {
		margin-right: 10px;
		margin-left: 10px;
		border: 0px;
	}
	.Heading_2 .Content {
		background-image: url('./images/[[IMAGE_DIR]]/heading_gradient.jpg');
		background-x-position: center;
		background-y-position: top;
		background-repeat: repeat-x;
		border-bottom: 1px solid [[BORDER_COLOR]];
		border-left: 1px solid [[BORDER_COLOR]];
		border-right: 1px solid [[BORDER_COLOR]];
		padding: 5px;
		text-align: left;
		color: #fff;
		font-size: 125%;
		padding-left: 10px;
		margin: 0px;
	}