/*********************************************************
 * Header 1
 *********************************************************/

	*.Header {

		border: 0px;
	}
	*.Header .Content {
		background-color: #FFFFFF;


		padding: 10px;
		text-align: left;
		color: #000000;
		margin: 0px;
		font-size: large;
	}