/*********************************************************
 * Menu 1
 *********************************************************/
	.Menu {
		padding: 1px;
		border: 0px;
	}
	.Menu Content {
		background-color: #eeeeee;
		color: #000;
		border: 1px solid [[BORDER_COLOR]];
		padding: 10px;
		text-align: left;
		margin: 0px;
	}
