/*********************************************************
 * Block 3
 *********************************************************/

*.block3 {
	padding: 1px;
	border: 0px;
}
*.block3Content {
	background-color: #fff;
	color: #000;
	border: 1px solid #979797;
	padding: 10px;
	text-align: left;
	margin: 0px;
}
.block3TopCorners, .block3BottomCorners {
	margin: 0px;
	padding: 0px;
}
.block3Spacer {
	margin: 0px; padding: 0px; border: 0px;
	clear: both;
	font-size: 1px; line-height: 1px;
}

.block3BorderTL, .block3BorderTR, .block3BorderBL, .block3BorderBR {
	width: 14px; height: 14px;
	padding: 0px; border: 0px;
	z-index: 99;
}
.block3BorderTL, .block3BorderBL {
	float: left;
	clear: both;
}
.block3BorderTR, .block3BorderBR {
	float: right;
	clear: right;
}
.block3BorderTL {
	margin: 0px 0px 0px 0px;
}
.block3BorderTR {
	margin: -0px -0px 0px 0px;
}
.block3BorderBL {
	margin: -14px 0px 0px 0px;
}
.block3BorderBR {
	margin: -14px 0px 0px 0px;
}
.block3BorderTL {
	 margin-left: -4px;
	 margin-left: -1px;
}
html>body .block3BorderTL {
	 margin-left: 0px;
}
.block3BorderTR {
	 margin-right: -4px;
	 margin-right: -1px;
}
html>body .block3BorderTR {
	 margin-right: 0px;
}
.block3BorderBL {
	 margin-left: -3px;
	 margin-left: 0px;
}
html>body .block3BorderBL {
	 margin-left: -0px;
}
.block3BorderBR {
	 margin-left: -3px;
	 margin-left: 0px;
}
html>body .block3BorderBR {
	 margin-left: 0px;
}