/*********************************************************
 * Block 2 - Standard
 *********************************************************/

.Block_Standard {

    padding: 1px;
    border: 0px;
}
.Block_Standard .Content {

    background-color: [[FG_COLOR]];
    border: 1px solid #979797;
    padding: 10px;
    text-align: left;
    margin: 0px;
}