/*********************************************************
 * Heading 3
 *********************************************************/

	.Heading_3 {
		padding: 1px;
		border: 0px;
	}
	.Heading_3 .Content {
		background-color: #aaa;
		border: 1px solid #000;
		padding: 10px;
		text-align: left;
		color: #fff;
		font-size: 125%;
		padding-left: 30px;
		margin: 0px;
	}