/*********************************************************
 * Header 1
 *********************************************************/

*.Header {
    padding: 1px;
    border: 0px;
}
*.Header .Content {
    background-color: #FFFFFF;
    border: 1px solid #979797;
    padding: 10px;
    text-align: left;
    color: #000000;
    margin: 0px;
    font-size: large;
}