/*********************************************************
 * Menu 1 selected content
 *********************************************************/

	*.MenuItem_Link_Selected  {
		padding: 1px;
		border: 0px;
	}

	*.MenuItem_Link_Selected .Content {
		background-color: #F5F5F5;
		border: 1px solid #979797;
		padding: 3px;
		text-align: left;
		color: #000000;
		font-size: 100%;
		margin: 0px;
	}