.medialibrary .thumbnail {
	max-height: 50px;
	max-width: 50px;
}

.medialibrary .link {
	cursor: pointer;
}

.medialibrary th {
	text-align: left;
}

.medialibrary thead th {
	padding-left: 5px;
	padding-right: 5px;
	
	background-color: #AAA;
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
}

.medialibrary .medialist {
	width: 100%;
	clear: both;
}

.medialibrary .medialist .displayName {

}

.medialibrary .medialist .description {
	font-size: small;
}

.medialibrary .medialist .citation {
	font-size: small;
	font-family: serif;
}

.medialibrary .medialist .modification_date {
	white-space: nowrap;
}

.medialibrary a img {
	border: 0px;
}

.medialibrary .perms_col {
	width: 50px;
}

.medialibrary td.perms_col {
	text-align: center;
}


/*********************************************************
 * Media Quotas
 *********************************************************/
.media_quota_title {
	font-weight: bold;
	padding: 3px;
}
.media_quota {
	position: relative;
}

.media_quota_used {
	float: left;
	background-color: #F99;
	width: 50%;
	text-align: left;
}

.media_quota_free {
	float: right;
	background-color: #9F9;
	width: 50%;
	text-align: right;
}

.media_quota_used_label {
	position: absolute;
	left: 2px;
	top: 2px;
}

.media_quota_free_label {
	position: absolute;
	right: 2px;
	top: 2px;
}