/*********************************************************
 * Header 1
 *********************************************************/

*.Header {
    padding: 1px;
    border: 0px;
}

*.Header .Content {
    background-color: [[FG_COLOR]];
    padding: 5px;
    text-align: left;
    margin: 0px;
    font-size: large;
}
