/*********************************************************
 * Block 4
 *********************************************************/

*.block4 {
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px dotted #979797;
	border-right: 1px dotted #979797;

}
*.block4Content {
	background-color: #FFFFCC;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #990000;
	text-align: left;
}
