/*********************************************************
 * Block 4
 *********************************************************/

*.block4 {
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];
	border-right: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];;
	margin: 5px;
}
*.block4Content {
	background-color: #FFFFCC;
	color: #000000;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #990000;
	text-align: left;

}

*.block4Content a {
	color: #990000;
}

