/*********************************************************
 * Block 3
 *********************************************************/

*.block3 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #000000;
	text-align: left;
}
	*.block3Content {

}
