/*********************************************************
 * Block 2
 *********************************************************/

.Block_Standard {
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px dotted #979797;
	border-right: 1px dotted #979797;
	text-align: left;
}
.Block_Standard .Content {
	
}