/*********************************************************
 * Block 2
 *********************************************************/

.Block_Standard {
    text-align: left;

    font-size: 100%;
	border-top: 1px solid [[STANDARD_BORDER_TOP]];
	border-bottom: 1px solid [[STANDARD_BORDER_BOTTOM]];
	border-left: 0px none [[STANDARD_BORDER_LEFT]];
	border-right: 0px none [[STANDARD_BORDER_RIGHT]];
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
    margin-left: 10px;
	margin-bottom: 10px;

/*
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];
    border-right: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];
    border-bottom: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];
    text-align: left;
*/

}

*.Block_Standard .box01 {
	border-top: 1px solid [[STANDARD_BORDER_TOP01]];
	border-bottom: 1px solid [[STANDARD_BORDER_BOTTOM01]];
	border-left: 1px solid [[STANDARD_BORDER_LEFT01]];
	border-right: 1px solid [[STANDARD_BORDER_RIGHT01]];
	padding-left: 1px;
    padding-right: 1px;	

}


*.Block_Standard .box02 {
	border-top: 1px solid [[STANDARD_BORDER_TOP02]];
	border-bottom: 1px solid [[STANDARD_BORDER_BOTTOM02]];
	border-left: 1px solid [[STANDARD_BORDER_LEFT02]];
	border-right: 1px solid [[STANDARD_BORDER_RIGHT02]];
	padding-left: 1px;
    padding-right: 1px;

   }

*.Block_Standard .box03 {
	border-top: 1px solid [[STANDARD_BORDER_TOP03]];
	border-bottom: 1px solid [[STANDARD_BORDER_BOTTOM03]];
	border-left: 0px none [[STANDARD_BORDER_LEFT03]];
	border-right: 0px none [[STANDARD_BORDER_RIGHT03]];
	padding-left: 1px;
    padding-right: 1px;
}


.Block_Standard .Content {
    
}