/*********************************************************
 * Footer 1
 *********************************************************/

*.Footer {
	border: 1px solid #979797;
	padding: 10px;
	margin: 10px;
}

*.Footer .Content {

}