/*********************************************************
 * Heading - For Sidebar
 *********************************************************/

*.Heading_Sidebar {
	border-left: 1px dotted #979797;
	border-right: 1px dotted #979797;		
	padding-left: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 90%;
}
*.Heading_Sidebar .Content {

}
