/*********************************************************
 * Heading 2
 *********************************************************/

.Heading_2 {
	border-left: 1px dotted #979797;
	border-right: 1px dotted #979797;		
	padding-left: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 110%;
}
.Heading_2 .Content {

}