/*********************************************************
 * Heading - Biggest
 *********************************************************/

.Heading_1 {
	border-left: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];
	border-right: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];;		
	padding-left: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 125%;
}

.Heading_1 .Content {

}