/*********************************************************
 * Heading - Normal
 *********************************************************/

.Heading_3 {
	border-left: 1px dotted #979797;
	border-right: 1px dotted #979797;		
	padding-left: 10px;
	text-align: left;
	font-weight: bold;	
}

.Heading_3 .Content {

}