/*********************************************************
 * Heading 2
 *********************************************************/

	.Heading_2 {
		padding: 1px;
		border: 0px;
	}
	.Heading_2 .Content {
		background-color: #F5F5F5;
		border: 1px solid #979797;
		padding: 3px;
		text-align: left;
		color: #000000;
		font-size: 110%;
		padding-left: 10px;
		margin-top: 1px;
	}