/*********************************************************
 * MenuHeading 1
 *********************************************************/

.MenuItem_Heading {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}
.MenuItem_Heading .Content {

}