/*********************************************************
 * Menu 1 selected content
 *********************************************************/

	*.MenuItem_Link_Selected  {
		text-align: left;
		font-weight: bold;
		font-size: 100%;
		padding-left: 10px;
	}

	*.MenuItem_Link_Selected .Content {

	}
	
	*.MenuItem_Link_Selected .a {
		color: #000000;
	}