/*********************************************************
 * general styles
 *********************************************************/

body {
	background-color: #FFF8C6;
	color: #000;
	font-family: Verdana, sans-serif;
	font-size:12px;
	padding: 0px;
	margin: 10px;
}

a {
	text-decoration: none;
	color: #990000;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.thumbnail_image {
	border: 1px solid #000;
}

.thumbnail_icon {
	border: 0px solid #000;
}

.plugin_content a {
	text-decoration: underline;
}